/* imports */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,200;0,300;0,600;1,300;1,600&display=swap');

/* property */

:root{

   
  /**
   * colors
   */
   --White: hsl(0, 0%, 100%);
   --Black: hsl(0, 0%, 0%);
   --Dark-Gray: hsl(0, 0%, 55%);
   --Very-Dark-Gray: hsl(0, 0%, 41%);


  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: hsl(353, 100%, 78%);
  --sandy-brown: hsl(29, 90%, 65%);
  --bittersweet: hsl(0, 100%, 70%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);

  /**
   * typography
   */

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /**
   * border-radius
   */

  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  /**
   * transition 
   */

  --transition-timing: 0.2s ease;

}

/* Web */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

.text2{
  display: none;
}

.text3{
  display: none;
}
.bar{
  overflow: hidden;
}
.cambiar{
  display: none;
}
.navbar{
  display: none;
}
.containerHero{
  height: auto;
  margin: auto;
  max-width: 1280px;
}
.containerHero2{
  
    height: auto;
    margin: auto;
    max-width: 1280px;
  
}
.container{
  z-index: 999;
  width: auto;
  position: fixed;
  transform: translateY(-100%);
  width: 100vw;
  height: 100vh;
  background: var(--Black);
  transition: all 0.5s ease;
}
.activo{
  transform: translateY(0%);
  width: 100vw;
  max-width: 768px;
  transition: all 0.5s ease;

}
.hamburguesa{
  
  background: var(--Black);
  display: flex;
  justify-content: center;
  list-style: none;
  flex-direction: column;


}
.hamburguesa nav {
  margin-top: 1.5em;
  position: absolute;
  top: 20%;
  margin-left: 1em;
}
.hamburguesa nav li {
  text-transform: uppercase;
  margin-bottom: 1em;
  color: white;
  font-size: 2em;
}
.hamburguesa_menu{
 
    padding-top: 2em;
      margin-left: 1.3em;
      margin-right: 1.3em;
      color:var(--white);
      display: flex;
      justify-content: space-between;
    align-items: center;
  
}
.sec1{
  background-image: url("./assets/mobile/image-hero.jpg");
  background-repeat: repeat;
  background-size: cover;

}
.menu{
  max-width: 1444px;
padding-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  color:var(--white);
  display: flex;
  justify-content: space-between;
background: transparent;
z-index: 3;
align-items: center;

}

ion-icon {
  font-size: 32px;
}

.hero1{
  z-index: 2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.hero1_exp{
  outline: 2px solid var(--white);
  height: 6em;

  width: 8em; 
  color:var(--white);
  text-align: justify;
  padding: 25px;
 font-size: 2.1em;
line-height:1.2em
}

.hero2{
  height: 100vh;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: -2em;

  
}

.hero2 img{
  margin-bottom: 2em ;
  height: 38%;
    width: 90%;
    margin-left: 1em;
    margin-right: 1em;
    max-width: 600px;
}

.hero2_description{
  text-align: center;
  margin-left: 1.2em;
  margin-right: 1.2em;
  max-width: 768px;
}
.hero2_description span {
  font-size: 30px;
}
.hero2_description p{
  padding-left: 2em;
  margin-top: 1em;
  color: var(--Dark-Gray);
  font-family: 'Alata', sans-serif;
  margin-right: 2em;
}

.creations{
  display: flex;
  justify-content: center;

  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  font-weight: 400;
 margin-bottom: 2em;
}

.but-creations{
  display: none;
  justify-content: center;
  align-items: center;
 
 height: 20%;
}

.but-creations button {
  height: 36%;
  background-color: var(--White);
  font-size: calc(1em + 1vw);;
  border: 1px solid black;
  /* outline: 1px solid black; */
  width: 45%;
  letter-spacing: 3px;
  font-family: 'ALATA', sans-serif;
}

.our{
  margin-top: -2em;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our span {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  font-weight: 400;
 margin-bottom: 1em;
}
/* deep */
.our div {
 max-width: 768px;
  width: 90%;
  position: relative;
  margin-bottom: 1em;
 

}
.our div span {
  position: absolute;
  color: var(--White);
  top: 30%;
  margin-left: 0.5em;
  font-size: 2em;
  font-weight: 200;
  z-index: 2;
}
.our div img {
  border-radius: 3px;
  filter: brightness(50%);  
  /* background-image: linear-gradient(
    0deg, 
    rgba(0,0,0,0.5),
  rgba(0,0,0,0.5),url('')); */
  object-fit: cover; 
  width: 100%;
}

.our2{
  margin-top: -2em;
  background-color: var(--white);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our2 span {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  font-weight: 400;
 margin-bottom: 1em;
}
/* deep */
.our2 div {
 max-width: 768px;
  width: 90%;
  position: relative;
  margin-bottom: 1em;
 

}
.our2 div span {
  position: absolute;
  color: var(--White);
  top: 30%;
  margin-left: 0.5em;
  font-size: 2em;
  font-weight: 200;
  z-index: 2;
}
.our2 div img {
  border-radius: 3px;
  filter: brightness(50%);  
  /* background-image: linear-gradient(
    0deg, 
    rgba(0,0,0,0.5),
  rgba(0,0,0,0.5),url('')); */
  object-fit: cover; 
  width: 100%;
}


.but{
 display: flex;
 justify-content: center;
 align-items: center;

height: 20%;

}

.but button {
  height: 36%;
  background-color: var(--White);
  font-size: calc(1em + 1vw);;
  border: 1px solid black;
  /* outline: 1px solid black; */
  width: 45%;
  letter-spacing: 3px;
  font-family: 'ALATA', sans-serif;
}

footer{
  
  width: 100vw;
  color: white;
  background-color: var(--Black);
}
.footer-menu{

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.footer-menu h1 {
  margin-top: 2em;
}
.footer-menu nav {
  text-decoration: none;
  list-style-type: none;
  margin-top: 3em;
  margin-bottom: 3em;
}
.footer-menu nav li {
  margin-bottom: 1.2em ;
  font-size: 20px;
}
.social{
  display: flex;
  justify-content: center;
  align-items: center;
}
.social ion-icon{
  margin-right: 0.5em;
}
.footer-social{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer-social span {
  font-family: 'ALATA', sans-serif;
  margin-top: 1em;
  margin-bottom: 2em;
  color: var(--Dark-Gray);
}


@media only screen and (min-width: 768px) {
  .menu{
    margin: 0 2.4em 0 2.4em;
  }
  .hero1 {
    justify-content: flex-start;
  }

  .hero1_exp{
    height: 6em;
    width: 8em;
    margin-left: 1em;
    font-size: 3em;
  }

}

@media only screen and (min-width: 1024px){

.navbar{
   
    display: flex;
  list-style: none;
  justify-content: center;
  
}
.navbar li {
  margin-right: 2em;
}
.menu ion-icon{
  display: none;
}
.text1{
  display: none;
}
.text3{
  position: relative;
  right: -5%;
  display: initial;
    
}
.text2{
  display: flex;
}
.hero1_exp{
  max-width: 1024px;
  height: 30%;
  width: 50%;
  margin-left: 1em;
  font-size: 3.4em;
}
.creations{
    margin-left: 2em;
    margin-right: 1.6em;
  max-width: auto;
  
  justify-content: space-between;
  align-items: flex-end;
}
.hero2 img{
  margin-bottom: 0em;
  height: 45%;
  width: 100%;
  margin-left:0em; 
   margin-right: 0em;
  

}
.hero2{
  max-width: 1280px;
  margin: auto;
  width: 100vw;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;}

.hero2_description{
  right: 10%;
  top: 8%;

    flex-direction: column;
    justify-content: center;
    padding: 2em;
    position: relative;
  width: 100%;
  z-index: 4;
  margin: 0 0 0 0;
  /* width: 481p;
  height: 168px; */
  background: white;
  flex-direction: row;
}
.hero2_description span{
  font-size: 32px;
}
.hero2_description p {
      padding-left: 0em; 
    text-align: justify;
    
       margin-right: 0em;
}
.but-creations{
  display: flex;  
  justify-content: center;
  align-items: center;

}
.but-creations button{
  height: 2em;
  font-weight: 600;
  background-color: var(--White);
  font-size: 0.6em;
  border: 1px solid black;
  /* outline: 1px solid black; */
  width: 150px;
  letter-spacing: 3px;
  font-family: 'ALATA', sans-serif;
}
.but{
  display: none;
}
.our{
  display: none;
}
.our2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3em;
}
.our2 div{
  margin-left: 1em;
  width: 22%;
}
.our2 div img{
  filter: brightness(100%); 
  height: 40vh;
}
.our2 div span{
  top: 75%
}

footer{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-menu h1{
  text-align: left;
 
}
.footer-menu{
  width: 100%;
  margin-left: 2em;
  align-items: flex-start;
}
.footer-menu nav{
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.footer-menu nav li {
  margin-right: 1em;
}

.footer-social{
  width: 100%;
  margin-top: 0.5em;
  align-items: flex-end;
  justify-content: center;
  margin-right: 2em;
  font-size: 32px;
}
.footer-social span{
  margin-right: 1.2em;
  font-size: 14px;
}

.sec1{
  background-image: url("./assets/desktop/image-hero.jpg");
}
@media only screen and (min-width: 1280px){

  .hero2_description{

    height: 30%;
    right: 7%;
  }
  .hero2_description p {
    margin-left: 2em;
    margin-right: 2em;
  }
}

}
